<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="mft-e4.3-papyrus" sequenceNumber="26">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.context.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/mylyn/snapshots/weekly"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.3.0.I20130605-2000"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="1.2.0.201306071421"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20130610-0406"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.0.201305060205"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.7.0.201306111432"/>
<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.10.0.v201306121352"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="4.1.0.v20130610-0712"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
</target>
